@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
@model IEnumerable<BT04.Models.Todo>
}

<h2>DANH SÁCH CÔNG VIỆC</h2>

<p>
    <a asp-action="Create">➕ Thêm công việc</a>
</p>

<table border="1" cellpadding="5">
    <tr>
        <th>Mã</th>
        <th>Tên công việc</th>
        <th>Hoàn thành</th>
        <th>Thao tác</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>
            <input type="checkbox" checked="@item.IsCompleted" disabled />
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
        </td>
    </tr>
}
</table>
